{% extends "main.twig" %}

{% block body %}

<article>
    {% set author = proposition.author().find_one() %}
    <hgroup>
        <h1>{{ proposition.title }}</h1>
        <p>{{ app.translator.trans("Published by %firstname% %lastname% on %date%", { '%firstname%': author.firstname, '%lastname%': autor.lastname, '%date%': proposition.publication_date ) }}</p>
    </hgroup>
    <section class="propositionBody">{{ proposition.body }}</section>
    <section class="propositionComments">
        {% for comment in proposition.comments().find_many() %}
            <article class="comment">
                <article class="comment">
                    {% set c_author = proposition.author().find_one() %}
                    <header class="commentHeader">
                        {{ app.translator.trans("Published by %firstname% %lastname% on %date%", { '%firstname%': c_author.firstname, '%lastname%': c_author.lastname, '%date%': comment.date }) }}
                    </header>
                    <section class="commentBody">{{ comment.body }}</section>
                </article>
            </article>
        {% endfor %}
    </section>
</article>

{% endblock %}